body{
    background-color: #faf9f9;
}

.container{
    margin-bottom: 100px;
}
.price{
    color: #c63c81;
}
.btn{
    background-color: black;
    color: white;
    padding: 7px 15px;
    border-radius: 7px;
}
.card-footer{
    text-align: center;
    border: none;
}
.card-footer p{
    font-weight: bold;
}
.see{
    color: #f0ab2c;
}
.card{
    box-shadow: 3px 3px 12px #877373;
}
.card-title{
    text-align: center;
}
#catagories-bg{

    position: relative;
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 70px;

}
.cat-border::after{
        position: absolute;
        content: " ";
        height: 7px;
        width: 120px;
       background-image: linear-gradient(to bottom, #ff7606, #ec892c);
        border-radius: 10px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
}
.bg-clr{
    background-color: #dd8493;
    height: 300px;
} 
footer{
    text-align: center;
}
.sha-dow{
    margin-top: 100px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 12px #877373;
}

.wid-th{
    height: 200px;
    margin-top: 150px;
}